#my-extension-root .wrap .blob:hover .svg_btn2 {
  fill: #ffffff;
  stroke: #ffffff;
}

#my-extension-root .wrap .blob:hover .svg_btn {
  fill: #ffffff !important;
  stroke: #fb542b;
}

#my-extension-root .wrap .blob:hover #Ellipse_101 {
  fill: #fb542b;
}

#my-extension-root .wrap .blob:hover span {
  background: #fb542b;
  color: #ffffff;
}

#my-extension-root .menu img.trail_plus {
  width: 24px;
  height: 24px;
  top: 8px;
  right: 7px;
}

