.trail_select_bx {
  box-shadow: 0 0 10px 5px #fb542b !important;
  -webkit-box-shadow: 0 0 10px 5px #fb542b !important;
}

.modal-open {
  /* overflow: hidden; */
  padding-right: 0 !important;
}

.trailitStepBox {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  background: #fff;
  margin: 0 0 10px 5px !important;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.trailit_dotsButton {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  line-height: 10px !important;
}

.trailit_draggable_icon .trail_draggable_icon_pic {
  background: transparent;
}

.trailit_draggable_icon .trail_draggable_icon_pic {
  width: 15px !important;
  height: 15px !important;
  opacity: 0.3 !important;
  animation: none !important;
  color: #aaaaaa !important;
}

.trailit_draggable_icon {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 2;
  display: inherit;
}

.trailit_draggable_icon {
  opacity: 0.4 !important;
  animation: none !important;
  cursor: move;
}

.trailitStepTitle {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin: 25px 15px;
  line-height: 19px;
  color: #000000;
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  max-height: 38px !important;
  word-break: break-all !important;
}

.trailitIconRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 5px 10px 10px 0;
}

.trailitIconRight > div {
  display: inherit;
}
